<!DOCTYPE html>
<html lang="ja">
<%- include('components/_head', { title: "" }) %>

<body>  
  <div class="all-wrap">
    <%- include('components/_header') %>
    <main>
      <section class="p-mv">
        <div class="p-mv__inner l-container">
          <div class="p-mv__txt-wrap">
            <p class="p-mv__txt u-clr-prp" lang="en"><span>Web Design</span> <span>Conference vol.24</span></p>
            <h2 class="p-mv__ttl" lang="en">WORK<br>REVOLUTION</h2>
            <time class="p-mv__date" datetime="2030-05-30">2030.05.30</time>
            <button class="p-mv__btn c-grd-btn u-noto-fnt" type="button">お申し込み</button>
          </div>

          <dl class="p-mv__img-wrap">
            <dt class="p-mv__img-box">
              <img class="p-mv__img" src="common/img/mv.png" alt="">
            </dt>
            <dd class="p-mv__img-txt u-noto-fnt">
              ショーン・デイビット・ジュニア<span class="p-mv__img-txt-sml">氏</span><br>
              <span class="p-mv__img-txt-sml">Webデザイナー</span>
            </dd>
          </dl>
        </div>
      </section>

      <section class="p-about">
        <div class="p-about__inner l-container">
          <div class="c-sec-ttl">
            <h2 class="c-sec-ttl__txt u-clr-prp">ABOUT</h2>
            <p class="c-sec-ttl__ruby">イベントについて</p>
          </div>

          <div class="p-about__flex">
            <img class="p-about__img" src="common/img/about.jpg" alt="">

            <div class="p-about__contents-box">
              <span class="p-about__theme">テーマ</span>
              <h3 class="p-about__ttl u-clr-prp">定時で帰る</h3>
              <p class="p-about__txt">
                残業は心と体に良くないです。世界最速で定時に帰る男、ショーン・デイビット・ジュニア氏が定時で帰るためのスペシャルな技を紹介！ さぁ、Let's go home now!
              </p>
              <dl class="p-about__info">
                <dt class="p-about__info-ttl">日時</dt>
                <dd class="p-about__info-txt">2030年5月30日（土） 13:00-翌朝13:00</dd>
                <dt class="p-about__info-ttl">会場</dt>
                <dd class="p-about__info-txt">オンライン</dd>
                <dt class="p-about__info-ttl">定員</dt>
                <dd class="p-about__info-txt">３名</dd>
                <dt class="p-about__info-ttl">参加費</dt>
                <dd class="p-about__info-txt">無料</dd>
              </dl>
              <button class="p-about__btn c-grd-btn u-noto-fnt" type="button">お申し込み</button>
            </div>
          </div>
        </div>
      </section>

      <section class="p-speaker">
        <div class="p-speaker__inner l-container">
          <div class="c-sec-ttl">
            <h2 class="c-sec-ttl__txt u-clr-prp">SPEAKER</h2>
            <p class="c-sec-ttl__ruby">スピーカー</p>
          </div>

          <div class="p-speaker__contents">
            <div class="p-speaker__box">
              <div class="p-speaker__txt-box">
                <div class="p-speaker__ttl-box">
                  <h3 class="p-speaker__ttl u-clr-prp" lang="en">Shawn David Jr</h3>
                  <span class="p-speaker__ttl-ruby">ショーン・デイビット・ジュニア</span>
                </div>
                <p class="p-speaker__txt">
                  株式会社スタート代表取締役。Webデザイナー。<br>
                  定時になると仕事用の脳と身体機能が停止し自動的に帰路につく男。ショーン氏のその姿は人間と言うよりもさながらアンドロイドのようである。<br>
                  ショーン氏は著書『会社ではアンドロイドになれ』の中でこう語っている。<br>
                  「会社における仕事において、我々は自分を機械、そうアンドロイドと思い込むべきだ。定時になれば自動で仕事用の機能は停止されるのだ。決められた時間に、設定されたタスクのみを行う、それがアンドロイドの役目だろう？そして、それは会社で働く我々人間の権利でもある」<br>
                  アンドロイドのように働くべきと語るショーン氏の考え方はディストピア思想と揶揄されるが、本イベントでは氏の考え方をたっぷりと味わいたい。
                </p>
              </div>
              <img class="p-speaker__img" src="common/img/sean.jpg" alt="Shawn David Jr ショーン・デイビット・ジュニア">
            </div>

            <div class="p-speaker__box">
              <div class="p-speaker__txt-box">
                <div class="p-speaker__ttl-box">
                  <h3 class="p-speaker__ttl u-clr-prp" lang="en">Mihoko Tennis</h3>
                  <span class="p-speaker__ttl-ruby">ミホコ・テニース</span>
                </div>
                <p class="p-speaker__txt">
                  会社員兼プロテニスプレイヤー。WTOランキング63,984位。<br>
                  会社員をしながらプロテニスプレイヤーとしても生計を立てているミホコ氏。平日は仕事で忙しい中、一体どのようにテニスの練習時間を捻出しているのか？会社にもテニスラケットを持ち込むというミホコ氏のワーキングスタイルに迫る。
                </p>
              </div>
              <img class="p-speaker__img" src="common/img/mihoko.jpg" alt="Mihoko Tennis ミホコ・テニース">
            </div>

            <div class="p-speaker__box">
              <div class="p-speaker__txt-box">
                <div class="p-speaker__ttl-box">
                  <h3 class="p-speaker__ttl u-clr-prp" lang="en">Jecica Pannacotta</h3>
                  <span class="p-speaker__ttl-ruby">ジェシカ・パンナコッタ</span>
                </div>
                <p class="p-speaker__txt">
                  フリーランスのエンジニア。<br>
                  「絶対に自宅でフルリモートで働く」という徹底したモットーに基づき、約7年間外出をしていない。インターネットを信仰しており、リアルやオフラインよりもオンラインを最重要視するライフスタイルを実践している。「外に出たら負け」が口グセのジェシカ氏の『超ネット仕事術』は必聴。
                </p>
              </div>
              <img class="p-speaker__img" src="common/img/jecica.jpg" alt="Jecica Pannacotta ジェシカ・パンナコッタ">
            </div>
          </div>
        </div>
      </section>

      <section class="p-session">
        <div class="p-session__inner l-container">
          <div class="c-sec-ttl">
            <h2 class="c-sec-ttl__txt u-clr-prp">SESSION</h2>
            <p class="c-sec-ttl__ruby">セッション</p>
          </div>
          
          <ul class="p-session__list">
            <li class="p-session__item">
              <p class="p-session__time">13:00-14:00</p>
              <div class="p-sesstion__txt-box">
                <h3 class="p-session__ttl u-clr-prp">ライトニングトーク：定時に帰る、それはアンドロイドになること</h3>
                <p class="p-session__txt">スピーカー：ショーン・デイビット・ジュニア<br>人間らしくあろうとすること、それが残業を生むのだ。さぁ！アンドロイドになるのだ！</p>
              </div>
            </li>
            <li class="p-session__item">
              <p class="p-session__time">14:00-18:00</p>
              <div class="p-sesstion__txt-box">
                <h3 class="p-session__ttl u-clr-prp">ショーンのとっておきの定時に帰る方法</h3>
                <p class="p-session__txt">スピーカー：ショーン・デイビット・ジュニア<br>アンドロイド的定時に帰る方法を紹介。ワタシ、テイジデカエリマス。</p>
              </div>
            </li>
            <li class="p-session__item">
              <p class="p-session__time">18:00-24:00</p>
              <div class="p-sesstion__txt-box">
                <h3 class="p-session__ttl u-clr-prp">公私混同仕事術</h3>
                <p class="p-session__txt">スピーカー：ミホコ・テニース<br>私は会社にもテニスラケットを持ち込む。そう、もういっそのこと仕事と趣味の境界線を消しましょう。</p>
              </div>
            </li>
            <li class="p-session__item">
              <p class="p-session__time">24:00-13:00</p>
              <div class="p-sesstion__txt-box">
                <h3 class="p-session__ttl u-clr-prp">超ネット仕事術</h3>
                <p class="p-session__txt">スピーカー：ジェシカ・パンナコッタ<br>７年間一度も外出せずに仕事をする方法を紹介。自宅大好きっ！</p>
              </div>
            </li>
          </ul>
        </div>
      </section>

      <section class="p-registor">
        <div class="p-registor__inner l-container">
          <div class="c-sec-ttl">
            <h2 class="c-sec-ttl__txt u-clr-prp">REGISTOR</h2>
            <p class="c-sec-ttl__ruby">お申し込み</p>
          </div>
          
          <form action="" class="p-registor__form">
            <div class="p-registor__form-item">
              <p class="p-registor__form-ttl">ご職業<span class="p-registor__form-requier u-clr-prp">*必須</span></p>
              <label class="p-registor__form-radio"><input type="radio" name="job" value="会社員">会社員</label>
              <label class="p-registor__form-radio"><input type="radio" name="job" value="個人事業主">個人事業主</label>
              <label class="p-registor__form-radio"><input type="radio" name="job" value="求職中">求職中</label>
              <label class="p-registor__form-radio"><input type="radio" name="job" value="その他">その他</label>
            </div>

            <div class="p-registor__form-item">
              <label class="p-registor__form-ttl" for="name">お名前<span class="p-registor__form-requier u-clr-prp">*必須</span></label>
              <input class="p-registor__form-input" type="text" id="name" name="name" required>
            </div>

            <div class="p-registor__form-item">
              <label class="p-registor__form-ttl" for="mail">メールアドレス<span class="p-registor__form-requier u-clr-prp">*必須</span></label>
              <input class="p-registor__form-input" type="email" id="mail" name="mail" required>
            </div>

            <div class="p-registor__form-item">
              <label class="p-registor__form-ttl" for="tel">電話番号（半角数字ハイフンなし）</label>
              <input class="p-registor__form-input" type="tel" id="tel" name="tel">
            </div>

            <div class="p-registor__form-item">
              <label class="p-registor__form-ttl" for="comment">スピーカーに質問したいこと<span class="p-registor__form-requier u-clr-prp">*必須</span></label>
              <textarea class="p-registor__form-textarea" id="comment" name="comment" placeholder="ご自由にお書きください"></textarea>
            </div>

            <div class="p-registor__form-item">
              <label for="source" class="p-registor__form-ttl">WDCをどちらでお知りになりましたか？<span class="p-registor__form-requier u-clr-prp">*必須</span></label>
              <select class="p-registor__form-select" id="source" name="source">
                <option value="">選択してください</option>
                <option value="Google/Yahoo検索">Google/Yahoo検索</option>
                <option value="SNS">SNS</option>
                <option value="ブログ">ブログ</option>
                <option value="友人や知人">友人や知人</option>
                <option value="その他">その他</option>
              </select>
            </div>

            <div class="p-registor__form-btn">
              <button class="c-grd-btn u-noto-fnt" type="button">送信する</button>
            </div>
          </form>
        </div>
      </section>
    </main>
    <%- include('components/_footer') %>
    <%- include('components/_script') %>
  </div>
</body>
</html>