<header class="l-header">
  <div class="l-header__inner">
    <h1 class="l-header__logo">
      <a href="@" class="l-header__logo-link u-clr-prp">WDC</a>
    </h1>
    <div class="l-header__nav">
      <nav class="gnav">
        <ul class="gnav__list">
          <li class="gnav__item">
            <a href="@" class="gnav__link" lang="en">ABOUT</a>
          </li>
          <li class="gnav__item">
            <a href="@" class="gnav__link" lang="en">SPEAKER</a>
          </li>
          <li class="gnav__item">
            <a href="@" class="gnav__link" lang="en">SESSION</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>